<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>Confirm Payment</title>
</head>
<body>
    <center>
        <div class="container">
        <h2>Hi {{ payment.student.name }} 🎉</h2>
        <p>Your payment of ₹{{ payment.amount }} is currently in 
           <span class="status">{{ payment.status }}</span> status.</p>
        
        <form method="post" action="{% url 'confirm-cloud-payment' %}">
            {% csrf_token %}
            <input type="hidden" name="transaction_id" value="{{ payment.payu_transaction_id }}">
            <input type="hidden" name="status" value="success">
            <button type="submit">Confirm Payment ✅</button>
        </form>
    </div>

    </center>
</body>
</html>
 