 <!DOCTYPE html>
  {% load static %}
 <html lang="en">
 
 <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'css/form.css'  %}">
    <title>STUDENT</title>
 </head>
 <body>
   <div class="container mt-4">
      <h2>Add Student</h2>
      <form method="post">
         {% csrf_token %}
         {{ form.as_p }}
         <button type="submit" class="btn btn-primary">REQUEST</button>
      </form>
   </div>
 </body>
 </html>